{% extends "layout.html" %} {% block body %}

<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary dropdown-toggle"
    >
      <span data-feather="calendar"></span> Year
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Avatar</th>
        <th>Nome</th>
        <th>Rating</th>
        <th>Ranking</th>
      </tr>
    </thead>
    <tbody>
      {% for u in data['result'] %}
        <tr>
            <td>-</td>
            <td><img src="{{ u['avatar'] }}"/></td>
            <td>{{ u['firstName'] + ' ' + u['lastName'] }}</td>
            <td>{{ u['rating'] }}</td>
            <td>{{ u['rank'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
